<p></p>
<!-- Added element:carousel -->
 
<div id="app-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <ol class="carousel-indicators">
      <li data-bs-target="#app-carousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#app-carousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#app-carousel" data-bs-target="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://media.istockphoto.com/id/470818686/photo/happy-young-woman-in-convertible-car.jpg?s=2048x2048&w=is&k=20&c=3Py8z-wbE55ha_-bJsU996vVGUHN6jXnJ8gMOyke_Yg=" target="_blank">
          <img src="https://media.istockphoto.com/id/470818686/photo/happy-young-woman-in-convertible-car.jpg?s=2048x2048&w=is&k=20&c=3Py8z-wbE55ha_-bJsU996vVGUHN6jXnJ8gMOyke_Yg=" class="d-block w-100" alt="Slide 1">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://media.istockphoto.com/id/1177427320/photo/side-view-of-a-classic-american-car-from-the-fifties.jpg?s=2048x2048&w=is&k=20&c=1p1ODl8IahiwnAwfw_zE8081bWCzoyDh9RTp6uD2ZJo=" target="_blank">
          <img src="https://media.istockphoto.com/id/1177427320/photo/side-view-of-a-classic-american-car-from-the-fifties.jpg?s=2048x2048&w=is&k=20&c=1p1ODl8IahiwnAwfw_zE8081bWCzoyDh9RTp6uD2ZJo=" class="d-block w-100" alt="Slide 2">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://media.istockphoto.com/id/1268126138/photo/one-red-shiny-hotrod-bow-tie.jpg?s=2048x2048&w=is&k=20&c=VEBbX-hB8pLmJntt3l4oYS5LKyI56vyol37pzkDjVe8=" target="_blank">
          <img src="https://media.istockphoto.com/id/1268126138/photo/one-red-shiny-hotrod-bow-tie.jpg?s=2048x2048&w=is&k=20&c=VEBbX-hB8pLmJntt3l4oYS5LKyI56vyol37pzkDjVe8=" class="d-block w-100" alt="Slide 3">
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#app-carousel" role="button" data-bs-slide="prev">
      <img src="https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/keyboard_key_left.png" alt="Previous" style="width: 50%; margin-right: 6cm;">
    </a>
    <a class="carousel-control-next" href="#app-carousel" role="button" data-bs-slide="next">
    <img src="https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/keyboard_key_right.png" alt="Next" style="width: 50%; margin-left: 6cm;">
    </a>

    <style>
        .app-carousel {
        margin: 0 auto; /* Centers the carousel horizontally */
        width: 50%; /* Makes the carousel 50% wide */
      }
      </style>