.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgb(0, 81, 255);
  }
  
  .jumbotron .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .jumbotron h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 8rem;
    color: white;
    text-align: center;
    margin: 0;
  }
  .navbar {
    height: 140px;
    opacity: 0.9;
  }
  
  .article-meta {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .article-meta .date,
  .article-meta .author {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    z-index: 998;
  }
  
  .main-content {
    margin-top: 60px;
  }
  
  .timestamp {
    position: fixed;
    top: 70px; /* adjust desired distance from the top */
    right: 20px; /* adjust desired distance from the right */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(252, 252, 252);
    padding: 5px;
    font-weight: bold;
    font-size: 30px;
  }
  

  body {
    background-color: #554646; /* colour */
  }
  

  




  
