<p *ngIf="isLoggedIn">Hello {{ userName }}!</p>
<p *ngIf="!isLoggedIn">You are not logged in.</p>
<p *ngIf="isLoggedIn">Hello, {{userName}}!</p>
<p *ngIf="!isLoggedIn">Please log in to access this page.</p>
<button *ngIf="!isLoggedIn" (click)="navigateToLogin()">Log In</button>

<!-- Rest of the HTML for the sample component -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sample Page - My Website</title>
  </head>
  <body>
    <h1>Sample Page</h1>
    <p>This is a sample page with minimal text.</p>
    <button type="button" onclick="location.href='/'">Home</button>
  </body>
</html>
