// You can add global styles to this file, and also import other style files
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.css";


.nav-tabs {
  margin-top: 70px;
}

#google-signin-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.info-messages {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

.message-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message-item .message {
  margin-right: 10px;
  flex-grow: 1;
}

.message-item .close {
  cursor: pointer;
  margin-left: 10px;
}

.message-item .close:hover {
  background-color: #ffebee;
}

.message-item.error {
  color: #b71c1c;
  border-color: #e57373;
  background-color: #ffcdd2;
}

.message-item.success {
  color: #1b5e20;
  border-color: #81c784;
  background-color: #c8e6c9;
}
/* Apply a responsive font size based on the screen width */
html {
  font-size: calc(14px + 0.5vw);
}

/* Make images responsive by default */
img {
  max-width: 100%;
  height: auto;
}

/* Ensure all elements adjust to the width of their container */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Optionally, set a maximum width for the main content area */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}

/* Add more specific responsive styles for different elements as needed */
