.card-container {
    max-width: 400px;
    margin: auto;
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: auto;
    display: block;
  }
  
  .form-control {
    font-size: 14px;
  }
  
  .form-group label {
    font-size: 14px;
  }
  
  .invalid-feedback div {
    font-size: 12px;
  }
  
  .btn-primary {
    font-size: 14px;
    padding: 8px 16px;
  }
  